CSMARKETAPI_API_KEY=your_csmarketapi_key_here
CS2CAP_API_KEY=your_cs2cap_key_here
DATABASE_URL=DATABASE_URL
STEAM_API_KEY=your_steam_web_api_key_here
BASE_URL=http://localhost:3001
SESSION_SECRET=long_random_string
